
:root{
    --box-shadow:0 1px 3px rgba(0,0,0,0.12),
                 0 1px 2px  rgba(0,0,0,0.24)
}
*{
    box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
 
}
#container{
    background-color: azure;
    padding: 20px;
    margin: auto 20px;
    border-radius: 10px;
    height: 90%;
}

.inexx{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 120px;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    border-radius: 10px;

}

 #Total-balance{
display: flex;
justify-content: center;
align-items: center;
width: 300px;
text-transform: uppercase;
color: #f7510a;

} 
#Total-balance p{
  font-size: 35px ;
  text-align: center;
}
h2{
  padding-left: 10px;
  width: 150px;
}


#et{
    text-align: center; 
   
    transition: width 2s; 
}
#et:hover {
  width: 10px;
}

#income{
  width: 150px;
  text-align: center;
  border-right: 3px solid black;
  background-color: #89e087;
  border: 10px solid #ffffff;
  color: #ffffff
    
}
#expense{
    text-align: center;
    width: 150px;
    background-color: #eb9874;
    border: 10px solid #ffffff;
    color: #ffffff;
}
h3{
    letter-spacing: 1px;
    border-bottom:  2px solid black;
    text-transform: uppercase;
}
h4{
    text-transform: uppercase;
}
.list-item {
    text-decoration: none;

}
ul{
  text-align: center;
  box-shadow: var(--box-shadow);
  text-transform:capitalize;
}
li{
display: flex;
justify-content:space-between;
padding: 10px;
font-size: 20px;
width: 100%;
list-style: none;
margin-left: -20px;
}
li span{
  color: #f7510a;
}
li button{
  cursor: pointer;
  padding: 10px;
  border:none;
  box-shadow: var(--box-shadow);
}
li button:hover{
  background-color: red;
  color: #ffffff;
}
#form-control{
display: flex;
flex-direction: column;
/* background-color: #89e087; */
border-radius: 10px;
border: none;
}
#form-text{
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
  border: none
 
}
#form-text:focus{
  border: 2px solid rgb(248, 248, 248);
}
#form-number{
   margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
  border: none

}
#submit{
  padding: 10px;
  width: 100%;
  background-color: red;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
#submit:hover{
  border: 1px solid rgb(97, 48, 48);
}

